<% layout("/layouts/boilerplate") %>
<body>
    <br><br>
    <!-- edit form -->
    <div class="row">
        <div class="col-8 offset-2">
          
            <h3>Edit Listing</h3>
      <!-- new form -->
      <form  action="/listings/<%= listing._id %>?_method=PUT" method="Post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="listing[title]" value="<%= listing.title  %>" >
          <div class="valid-feedback">Title Looks goods!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" class="form-control" id="title" name="listing[description]" ><%= listing.description  %></textarea>
          <div class="invalid-feedback">Enter proper discription</div>
        </div>
        <div class="mb-3">
          <p>Original Image</p>
          <img src="<%= originalimage %>" alt="" height="260" width="250">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" class="form-control" id="image" name="listing[image]" >
        </div>
       
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="listing[price]" value="<%= listing.price  %>">
            <div class="invalid-feedback">Enter valid price</div>
          </div>
          
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" name="listing[country]" value="<%= listing.country  %>">
            <div class="invalid-feedback">Enter valid country name</div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" id="location" name="listing[location]" value="<%= listing.location  %>">
          <div class="invalid-feedback">Enter valid location</div>
        </div>
        
        <button type="submit" class="btn btn-dark mb-3 edit-btn">Edit</button>
      </form>
      
        </div>
      </div>
    
</body>
